div.headerSection
  div.icon
    img(src ="../images/bolt.png")
  div.headerElement
    a(href="/cards") flashcards
  div.logout
    a(href="/logout") Logout
  div.logout
    a(href="/profile") Profile 
