form(method="post" action="/openEnded")
  label(for="question") Question: 
  textarea(name="question" id="question")
  p
  label(for="answer") Answer:
  textarea(name="answer" id="answer")
  p
  input(type="submit" value="Submit Question")
