extends ../../layout

block content

  include ../../partials/header
  
  div.new
    h1 Edit Question 
    if errors
      for error in errors
        p.error #{error}
    form(method="post" action='/cards/questions/'+ question._id + '/edit')
      include ../../partials/multipleChoice
    a(href='/users/profile')
      button.cancel Cancel
