extends ../../layout

block content

  include ../../partials/header
  
  div.new
    h1 Add a New Question 
    if errors
      for error in errors
        p.error #{error}
    form(method="post" action='/cards/questions/' + categoryId + "/multipleChoice")
      include ../../partials/multipleChoice
    a(href='/cards/'+categoryId+'/show')
      button.cancel Cancel
