extends layout

block content
  div#loginCard
    div.loginFront
      h1 flashcards
    div.loginBack
      img(src="../images/bolt.png")
  div.about 
    p Your coding study buddy.
  div.centerLogin
    .item1
      a(href="/auth/linkedin") Login
    .item1
      img(src="http://www.ijsaf.org/resources/linkedIn_logo_small.png")
  div.names
    |Created By  |  Barry Bankhead  |  Judy Lin  |  Vishwam Sankar  |  Anna Casper

    if profile
      img(src=profile.pictureUrl)
