doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://cdn.rawgit.com/nnattawat/flip/v1.0.15/dist/jquery.flip.min.js")
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css')
    
  body
    block content
    script(src="/javascripts/scripts.js") 
    script(src="/javascripts/search.js")
    script(src="/javascripts/animations.js")
