body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: #ECF1F6;
}

a {
  color: #00B7FF;
}

p {
  font-weight: 200;
  font-size: 20px;
}

.category {
  width: 100%;
}

.categoryElement {
  background-color: #E0E0E0;
  float: left;
  margin: 10px;
  height: 200px;
  width: 200px;
}

.categoryElement img {
  height: 100%;
  width: 100%;
}

.question {
  background-color: red;
  width: 100%;
}

h1 a {
  font-size: 14px;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 300;
}

.questionElement {
  background-color: #E0E0E0;
  float: left;
  width: 220px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.questionElement p{
  margin-top:50px;
}
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    /*z-index: 1000;*/
}

#overlay .overlaySegment {
    position:relative;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 18;
    color: #66CC00 ;
    padding: 20px;
}


.overlayQuestion, .overlayAnswer, .overlaySubmit{
  width: 100%;
}
.overlayQuestion, .overlaySubmit {
  height: 100px;
}

.overlayAnswer {
  height: 300px;
}

#hint {
  display:inline-block;
  background-color: rgb(255, 0, 0);
  padding:5px;
}

#hintOverlay {
  position:absolute;
  top:10px;
  left: 10px;
  display:none;
  border:1px solid black;
  width:200px;
  height:500px;
  background-color: rgba(255, 255, 255, .5);
  overflow: auto;
}

.front {
  background-color: rgba(092,092,092,0.9);
}
.back {
  background-color: white;
}
.logout {
  float: right;
  font-weight: 200;
  font-size: 20px;
}

.error{
 color: red;
}

#loginCard {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  height: 450px;
  width: 450px;
}
.loginFront {
  box-sizing: border-box;
  padding-top:115px;
  font-size:40px;
  background-color: #55505C;
  color: white;
  box-shadow: 10px 10px 5px rgba(93, 115, 126, .5);
}
.loginBack {
  box-sizing: border-box;
  padding-top:80px;
  background-color: rgb(93, 115, 126);
  box-shadow: 10px 10px 5px rgba(85, 80, 92, .5);
}

.centerLogin {
  margin-top: 35px;
  text-align: center;
}

.centerLogin a{
  font-size: 45px;
  color:#5D737E;
  font-weight: bold;
  text-decoration: none;
}

.centerLogin a:hover{
  font-size: 45px;
  color:#55505C;
  font-weight: bold;
  text-decoration: none;
}

.item1 {
  display:inline-block;
  margin-left:25px;
}

.about {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.names {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
