extends ../layout

block content
  div.logout
    a(href="/logout") Logout  
  h1 Choose a Category
    a(href='/cards/new') &nbsp - Add New Category
  div.category
    for val in data
      div.categoryElement
        a(href="/cards/" + val._id + '/show')
          img(src=val.icon )
