extends ../layout

block content
  h1 Choose a Category
  div.category
    for val in data
      div.categoryElement
        a(href="/cards/" + val._id + '/show')
          img(src=val.icon )
  a(href='/cards/new')
    h1 Add New Category
