extends ../layout

block content
  h1 #{category.name}
  if questions.length > 0
    a(href='/cards/' + category._id + '/questions/new') Submit A New Question
    p
    div.question
      for question in questions
        a(href="#" id=question._id onclick='overlay('+JSON.stringify(question)+')')
          div.questionElement
            p= question.question
            a(href='#') Hint
  else 
    p There are no questions for this category yet. 
    a(href='/cards/' + category._id + '/questions/new') Submit A New Question
    
  div#overlay
    div.overlaySegment
      form(action="/cards/" method="post")
        div.overlayQuestion question
        div.overlayAnswer
        div.overlaySubmit
          #hint Hint
        #hintOverlay
        |Hint:
        
        input(type="submit" value="Submit")
        p
        a(href="#" onclick='overlay()') Cancel
      
