extends ../layout

block content
  h1 #{category.name}
  if questions.length > 0
    a(href='/cards/' + category._id + '/questions/new') Submit A New Question
    p
    div.question
      for question in questions
        a(href="#" id=question._id onclick='overlay('+JSON.stringify(question)+')')
          div.questionElement
            p= question.question
            a(href='#') Hint
  else 
    p There are no questions for this category yet. 
    a(href='/cards/' + category._id + '/questions/new') Submit A New Question
    
  div#overlay
    div.overlaySegment
      div.front
        div.overlayQuestion 
        div.overlayAnswer
        div.overlaySubmit
          #hint Hint
          #hintOverlay
            |Hint:
          button#submitAnswer Submit
          p
          a(href="#" onclick='overlay()') Cancel
      div.back 
        div.result
        div.points
        div.overLayBackButtons
          form(action='/cards/submit/goToChallanges' method='post')
            input(type="hidden" name="points" id="userPointChallengeRedirect")
            input(type="hidden" name="userAnswer" id="userAnswerChallengeRedirect")
            input(type="submit" value="I want to answer more questions about " +category.name)
          form(action='/cards/submit/goToCategories' method='post')
            input(type="hidden" name="points" id="userPointsCategoriesRedirect")
            input(type="hidden" name="userAnswer" id="userAnswerCategoryRedirect")
            input(type="submit" value="I want to choose a different category")
